{% trans_default_domain 'organization' %}
{% extends 'layout.html.twig' %}
{% import '::macros.html.twig' as m %}

{% block content %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        {% if not new %}
            {{ m.submit_button('form.submit'|trans, 'check') }}
        {% else %}
            {{ m.submit_button('form.create'|trans, 'plus') }}
        {% endif %}
    {{ form_end(form) }}
    <a href="{{ path('admin_organizations') }}" class="btn btn-default"><i class="fa fa-arrow-left"></i> {{ 'menu.back'|trans }}</a>
{% endblock %}
