{% trans_default_domain 'enumeration' %}
{% extends 'layout.html.twig' %}
{% import '::macros.html.twig' as m %}

{% block content %}
    {% if enumeration.module %}
        <div class="alert alert-warning">{{ 'warning.from_module'|trans }}</div>
    {% endif %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ m.start_button }}
        {% if enumeration.id is not null %}
            {{ m.submit_button('submit', 'form.submit'|trans, 'check') }}
            {% if enumeration.module is null %}{{ m.link_button(path('admin_enumeration_delete', {'enumeration': enumeration.id}), 'form.delete'|trans, 'trash', 'btn-danger') }}{% endif %}
        {% else %}
            {{ m.submit_button('submit', 'form.create'|trans, 'plus') }}
        {% endif %}
        {{ m.end_button }}
    {{ form_end(form) }}
    {{ m.link_button(path('admin_enumerations'), 'form.back'|trans, 'arrow-left', 'btn-default') }}
{% endblock %}
