{% trans_default_domain 'admin' %}
{% extends 'layout.html.twig' %}
{% import '::macros.html.twig' as m %}
{% block content %}
    <table class="table table-bordered table-condensed table-hover table-responsive">
        <thead>
            <tr>
                {{ m.paginator_th(pagination, 'col-md-3', 'o.name', 'org.name'|trans) }}
                {{ m.paginator_th(pagination, 'col-md-2', 'o.code', 'org.code'|trans) }}
                {{ m.paginator_th(pagination, 'col-md-2', 'o.city', 'org.city'|trans) }}
                <th class="col-md-4">{{ 'org.description'|trans }}</th>
                <th class="col-md-1"></th>
            </tr>
        </thead>
        <tbody>
            {% for org in pagination %}
            <tr>
                <td>{{ org.name }}</td>
                <td>{{ org.code }}</td>
                <td>{{ org.city }}</td>
                <td>{{ org.description | nl2br }}</td>
                <td class="text-center">
                    <a href="{{ path('admin_edit_organization', {'organization': org.id }) }}" class="btn btn-default btn-xs"><i class="fa fa-pencil"></i> {{ 'form.edit' | trans }}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="5">{{ m.paginator_stats(pagination) }}</th>
            </tr>
        </tfoot>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    {{ m.link_button(path('admin_menu'), 'form.back'|trans, 'arrow-left', 'btn-default') }}
    {{ m.link_button(path('admin_new_organization'), 'form.new'|trans, 'plus', 'btn-success') }}
{% endblock %}
