{% trans_default_domain 'admin' %}
{% extends 'layout.html.twig' %}
{% import '::macros.html.twig' as m %}
{% block content %}
    <table class="table table-bordered table-condensed table-hover table-responsive">
        <thead>
            <tr>
                {{ m.paginator_th(pagination, 'col-md-4', 'e.description', 'enumeration.name'|trans) }}
                {{ m.paginator_th(pagination, 'col-md-3', 'm.name', 'enumeration.module'|trans) }}
                <th class="col-md-3">{{ 'enumeration.attributes'|trans }}</th>
                <th class="col-md-2"></th>
            </tr>
        </thead>
        <tbody>
            {% for enum in pagination %}
            <tr>
                <td>{{ enum.description }}{% if enum.external %} <i class="fa fa-external-link"></i>{% endif %}</td>
                <td>{{ enum.module ? enum.module.description : ('profile.own'|trans) }}</td>
                <td>
                    {% for attr in enum.attributes %}
                        {{ attr.target.description }}{{ not attr.mandatory ? (' '~('enumeration.optional'|trans)) }}{{ attr.multiple ? (' '~('enumeration.multiple'|trans)) }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td class="text-center">
                    <div class="btn-group btn-group-xs btn-block" role="group">
                        <a href="{{ path('admin_enumeration', {'enumeration': enum.id}) }}" class="col-md-6 btn btn-info btn-xs"><i class="fa fa-list-ol"></i> {{ 'enumeration.elements' | trans }}</a>
                        <a href="{{ path('admin_enumeration_form', {'enumeration': enum.id}) }}" class="col-md-6 btn btn-default btn-xs"><i class="fa fa-pencil"></i> {{ 'form.edit' | trans }}</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="3">{{ m.paginator_stats(pagination) }}</th>
            </tr>
        </tfoot>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    {{ m.link_button(path('admin_menu'), 'form.back'|trans, 'arrow-left', 'btn-default') }}
    {{ m.link_button(path('admin_enumeration_new'), 'enumeration.new'|trans, 'plus', 'btn-success') }}
{% endblock %}
