{% trans_default_domain 'menu' %}
{% extends 'layout.html.twig' %}

{% block content %}
    <section class="row tile-row">
        <article class="col-md-4 tile tile-col-4 tile-orange">
            <a class="tile-link" href="{{ path('frontpage') }}">
                <div class="tile-icon-holder">
                    <i class="fa fa-pie-chart fa-4x"></i>
                </div>
                <div class="text-holder">
                    <h4>{{ 'menu.admin.stats'|trans }}</h4>
                    <p>{{ 'menu.admin.stats.detail'|trans }}</p>
                </div>
            </a>
        </article>
        <article class="col-md-4 tile tile-col-4 tile-amber">
            <a class="tile-link" href="{{ path('admin_organizations') }}">
                <div class="tile-icon-holder">
                    <i class="fa fa-bank fa-4x"></i>
                </div>
                <div class="text-holder">
                    <h4>{{ 'menu.admin.manage.orgs'|trans }}</h4>
                    <p>{{ 'menu.admin.manage.orgs.detail'|trans }}</p>
                </div>
            </a>
        </article>
        <article class="col-md-4 tile tile-col-4 tile-magenta">
            <a class="tile-link" href="{{ path('frontpage') }}">
                <div class="tile-icon-holder">
                    <i class="fa fa-users fa-4x"></i>
                </div>
                <div class="text-holder">
                    <h4>{{ 'menu.admin.manage.users'|trans }}</h4>
                    <p>{{ 'menu.admin.manage.users.detail'|trans }}</p>
                </div>
            </a>
        </article>
        <article class="col-md-4 tile tile-col-4 tile-green">
            <a class="tile-link" href="{{ path('frontpage') }}">
                <div class="tile-icon-holder">
                    <i class="fa fa-street-view fa-4x"></i>
                </div>
                <div class="text-holder">
                    <h4>{{ 'menu.admin.manage.profiles'|trans }}</h4>
                    <p>{{ 'menu.admin.manage.profiles.detail'|trans }}</p>
                </div>
            </a>
        </article>
        <article class="col-md-4 tile tile-col-4 tile-emerald">
            <a class="tile-link" href="{{ path('frontpage') }}">
                <div class="tile-icon-holder">
                    <i class="fa fa-list-ol fa-4x"></i>
                </div>
                <div class="text-holder">
                    <h4>{{ 'menu.admin.manage.lists'|trans }}</h4>
                    <p>{{ 'menu.admin.manage.lists.detail'|trans }}</p>
                </div>
            </a>
        </article>
        <article class="col-md-4 tile tile-col-4 tile-cyan">
            <a class="tile-link" href="{{ path('frontpage') }}">
                <div class="tile-icon-holder">
                    <i class="fa fa-cubes fa-4x"></i>
                </div>
                <div class="text-holder">
                    <h4>{{ 'menu.admin.manage.modules'|trans }}</h4>
                    <p>{{ 'menu.admin.manage.modules.detail'|trans }}</p>
                </div>
            </a>
        </article>
        <article class="col-md-4 tile tile-col-4 tile-teal">
            <a class="tile-link" href="{{ path('frontpage') }}">
                <div class="tile-icon-holder">
                    <i class="fa fa-home fa-4x"></i>
                </div>
                <div class="text-holder">
                    <h4>{{ 'menu.back'|trans }}</h4>
                    <p>{{ 'menu.back.detail'|trans }}</p>
                </div>
            </a>
        </article>
    </section>
{% endblock %}
