{% trans_default_domain "security" %}
{% extends 'base.html.twig' %}
{% block title 'form.reset.title'|trans %}
{% block body %}
    <section class="login-form">
        <h1 class="text-center">
            <span class="app-name">{{ app_name }} </span>
            <span class="app-version">{{ app_version }}</span>
        </h1>
        <div class="panel panel-default">
            <div class="panel-heading">{{ 'form.reset.title'|trans }}</div>
            <div class="panel-body">
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success alert-dismissable" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="alert alert-danger alert-dismissable" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                {% if error %}
                    <div class="alert alert-danger alert-dismissable">{{ error|trans }}</div>
                {% endif %}
                <form method="post" action="{{ path('login_password_reset') }}" role="form">
                    <div class="form-group">
                        <label for="email">{{ 'form.login.email'|trans }}</label>
                        <div class="pull-right"><a href="{{ path('login') }}" tabindex="3">{{ 'form.reset.back'|trans }}</a></div>
                        <input type="email" name="email" id="email" required="" class="form-control" tabindex="1"
                               value="{{ last_username | default('') }}" autocorrect="off" autocapitalize="none" autofocus="">
                    </div>
                    <div class="form-group">
                        <button type="submit" name="login" class="btn btn-info btn-block" tabindex="2">{{ 'form.reset.submit'|trans }}</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <hr/>
    <p class="text-muted text-center">{{ 'form.login.footer'|trans({'{{ link }}': '<a href="{{ app_repository }}">' ~ ('form.login.footer.link.caption'|trans) ~ '</a>'}) | raw }}</p>
{% endblock %}
