{% trans_default_domain "security" %}
{% extends 'base.html.twig' %}

{% block body %}
    <section class="login-form">
        <h1 class="text-center">
            <span class="app-name">{{ app_name }} </span>
            <span class="app-version">{{ app_version }}</span>
        </h1>
        <div class="panel panel-default">
            <div class="panel-heading">{{ 'form.login.title' | trans }}</div>
            <div class="panel-body">
                {% if error %}
                    <div class="alert alert-danger alert-dismissable">{{ error.messageKey | trans(error.messageData) }}</div>
                {% endif %}
                <form method="post" action="{{ path('login_check') }}" role="form">
                    <div class="form-group">
                        <div class="pull-right"><a href="#" tabindex="1">{{ 'form.login.register' | trans }}</a></div>
                        <label for="email">{{ 'form.login.email' | trans }}</label>
                        <input type="email" name="_username" id="email" required="" class="form-control" autofocus="" tabindex="2">
                    </div>
                    <div class="form-group">
                        <div class="pull-right"><a href="#" tabindex="5">{{ 'form.login.password.recover' | trans }}</a></div>
                        <label for="password">{{ 'form.login.password' | trans }}</label>
                        <input type="password" name="_password" id="password" required="" class="form-control" tabindex="3">
                    </div>
                    <div class="form-group">
                        <button type="submit" name="login" class="btn btn-lg btn-info btn-block" tabindex="4">{{ 'form.login.submit' | trans }}</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <hr/>
    <p class="text-muted text-center">{{ 'form.login.footer' | trans({'{{ link }}': '<a href="{{ app_repository }}">' ~ ('form.login.footer.link.caption' | trans) ~ '</a>'}) | raw }}</p>
{% endblock %}
